<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.badrul.qnitibox"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".CustomFontApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/SplashTheme">
        <activity android:name=".ForgotPassword"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ChangePassword"
            android:screenOrientation="portrait"/>
        <activity android:name=".Profile"
            android:screenOrientation="portrait"/>
        <activity android:name=".WebViewPayment"
            android:screenOrientation="portrait"/>
        <activity android:name=".InasisDisplay"
            android:screenOrientation="portrait"/>
        <activity android:name=".FoodMenuDisplay"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewIndvOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FoodDisplay"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetails"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.MenuType"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SundayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.IndvOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.WednesdayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorPage1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorPage2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.MondayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.TuesdayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.ThursdayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SundayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.MondayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.TuesdayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.WednesdayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.ThursdayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SundayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.MondayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.TuesdayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.WednesdayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.ThursdayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.HowTo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffOrder"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.FridayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SaturdayBreakfast"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.FridayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.FridayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SaturdayLunch"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.SaturdayDinner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".old.HowToMenu"
            android:screenOrientation="portrait" />

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>